{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 id="title">Bienvenue au centre des affaires des Nains</h1>


{% endblock %}
{%  block javascripts %}
    {{ parent() }}
{% endblock %}
